/* Profile.css */
.profile {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .profile-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .profile-header {
    display: flex;
    flex-direction: column; 
    align-items: center;  
  }
  .profile-balance {
    font-size: 1em;
    margin-right: 10px;
  }
  
  .profile-dropdown {
    position: absolute;
    top: 60px; /* Adjust based on your design */
    right: 0;
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    min-width: 200px;
    z-index: 1000;
  }
  
  .profile-dropdown p {
    margin: 10px 0;
    cursor: pointer;
  }
  
  .profile-dropdown p:hover {
    background-color: #f0f0f0;
  }
  